.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button3 {width: 100%;}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(to top, #209cff 100%, #68e0cf 200%);
	display: flex;
	justify-content: center;
	align-items: center;
}


.container {
	margin: 40px 0;
	width: 400px;
	height: 600px;
	padding: 10px 25px;
	background: #0a0e31;
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.45), 0 4px 8px rgba(0, 0, 0, 0.35), 0 8px 12px rgba(0, 0, 0, 0.15);
	font-family: "Roboto";
	h2.title {
		font-size: 1.75rem;
		margin: 10px -5px;
		margin-bottom: 30px;
		color: #fff;
	}
}

$field-color: rgba(255, 255, 255, 0.08);
$field-height: 65px;
$field-border-radius: 8px;




.range__slider {
	position: relative;
	width: 100%;
	height: calc(#{$field-height} - 10px);
display: flex;
justify-content: center;
align-items: center;
background: $field-color;
border-radius: $field-border-radius;
margin: 30px 0;

&::before,
&::after {
	position: absolute;
	color: #fff;
	font-size: 0.9rem;
	font-weight: bold;
}
&::before {
	content: attr(data-min);
	left: 10px;
}
&::after {
	content: attr(data-max);
	right: 10px;
}
.length__title::after {
	content: attr(data-length);
	position: absolute;
	right: -16px;
	font-variant-numeric: tabular-nums;
	color: #fff;
}
}

$range-handle-color: rgb(255, 255, 255) !default;
$range-handle-color-hover: rgb(212, 212, 212) !default;
$range-handle-size: 20px !default;

$range-track-color: rgba(255, 255, 255, 0.314) !default;
$range-track-height: 2px !default;

$range-label-width: 60px !default;

#slider {
	-webkit-appearance: none;
	width: calc(100% - (#{$range-label-width + 10px}));
	height: $range-track-height;
	border-radius: 5px;
	background: $range-track-color;
	outline: none;
	padding: 0;
	margin: 0;
	cursor: pointer;

	// Range Handle
	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		width: $range-handle-size;
		height: $range-handle-size;
		border-radius: 50%;
		background: $range-handle-color;
		cursor: pointer;
		transition: all 0.15s ease-in-out;
		&:hover {
			background: $range-handle-color-hover;
			transform: scale(1.2);
		}
	}
	&::-moz-range-thumb {
		width: $range-handle-size;
		height: $range-handle-size;
		border: 0;
		border-radius: 50%;
		background: $range-handle-color;
		cursor: pointer;
		transition: background 0.15s ease-in-out;
		&:hover {
			background: $range-handle-color-hover;
		}
	}
}





